<div class="container">
    <div class="row justify-content-center">
        <div class="text-center mt-5">
            <h1 class="display-4">
                <i class="bi bi-flower1"></i> Sobre nosotros
            </h1>
            <p class="text-muted">¿Qué es el proyecto Lágrimas de los Ojos?</p>
        </div>
        <hr class="my-3">
    </div>
    <div class="row">
        <div>
            <section class="mt-1">
                <h3>Sobre el Proyecto de Innovación Regional Lágrimas de los Ojos</h3>
                <p>
                    Este proyecto surge como una iniciativa del Departamento de Informática del
                    <strong>IES Ojos del Guadiana</strong> de Daimiel, en colaboración con la empresa
                    <strong>Manchanet</strong> de Daimiel.
                </p>
                <p>
                    El desarrollo de esta aplicación ha sido llevado a cabo por el alumnado del
                    Ciclo Formativo de Grado Superior en Desarrollo de Aplicaciones Webs del
                    <strong>IES Gregorio Prieto</strong>.
                </p>
            </section>

            <section class="mt-1">
                <h3>Objetivo y finalidad del proyecto</h3>
                <p>
                    El proyecto <strong>Lágrimas de los Ojos</strong> tiene como objetivo la domotización de un huerto
                    urbano,
                    automatizando el riego mediante el uso de PLCs y sensores de humedad, temperatura, entre otros.
                    Se registran datos en una base de datos para optimizar el riego según las necesidades específicas
                    de cada variedad de semillas, eliminando la necesidad de mediciones y activaciones manuales.
                </p>
            </section>

            <section class="mt-1">
                <h3>Objetivos didácticos</h3>
                <ul>
                    <li>Comprender los principios de la domótica y el Internet of Things (IoT).</li>
                    <li>Aprender sobre sensores, actuadores y protocolos de comunicación en domótica.</li>
                    <li>Diseñar e implementar un sistema de riego inteligente para el huerto.</li>
                    <li>Explorar soluciones de iluminación energéticamente inteligentes.</li>
                    <li>Integrar datos meteorológicos y sensores ambientales.</li>
                    <li>Desarrollar habilidades de programación mediante la codificación de microcontroladores.</li>
                    <li>Difundir el proyecto en diferentes medios: web, Teledaimiel, entre otros.</li>
                </ul>
            </section>

            <section class="mt-1">
                <p>Este proyecto ha sido financiado por la Consejería de Educación, Cultura y Deportes de la Junta de Comunidades de Castilla-La Mancha, el Ministerio de Educación y Formación Profesional, y la Unión Europea, a través del Fondo Social Europeo. </p>
            </section>

        </div>
        <div class="text-center mt-1">
            <iframe width="500" height="300" src="https://www.youtube.com/embed/RpX72-JUFD0"
                title="Presentación Lagrimas de los ojos" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>