
<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <!-- Título con icono -->
      <div class="text-center mt-5">
        <h1 class="display-4">
          <i class="bi bi-envelope-paper"></i> Contacto
        </h1>
        <p class="text-muted">Formulario de Contacto</p>
      </div>
      <hr class="my-3">

      <!-- Formulario de inicio de sesión -->
      <form action="/auth/contact" class="needs-validation shadow p-4 rounded bg-light" method="post" novalidate>
        <!--
        NO meter CAPTCHA de momento.
        -->
      </form>
    </div>
  </div>
</div>
<script src="/js/minValidate.js"></script>