
<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <!-- Título con icono -->
      <div class="text-center mt-5">
        <h1 class="display-4">
          <i class="bi bi-person-circle"></i> Login
        </h1>
        <p class="text-muted">Accede a tu cuenta</p>
      </div>
      <hr>

      <!-- Formulario de inicio de sesión -->
      <form action="/auth/login" class="needs-validation shadow p-4 rounded bg-light" method="post" novalidate>
        <!-- Campo Email -->
        <div class="mb-3">
          <label for="email" class="form-label">
            <i class="bi bi-envelope-fill text-primary"></i> Email:
          </label>
          <input class="form-control" 
            type="email"
            name="email"
            id="email"
            placeholder="Introduce tu email" 
            aria-label="Campo para introducir tu dirección de correo electrónico"
            autocomplete="username"
            pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9](?:[a-zA-Z0-9\-]*[a-zA-Z0-9])?(?:\.[a-zA-Z]{2,6})$"
            required>
          <div class="invalid-feedback">Por favor, introduce un email válido.</div>
        <!-- 
          TODO Revisar
            * Validación adicional con patrones usando la API de HTML5
            ! En HTML5, el guion - dentro de las clases de caracteres [ ] necesita ser escapado (\-) 
            ! si está en el medio de la clase, para evitar que se interprete como un operador de rango. 
          -->
        </div>

        <!-- Campo Contraseña -->
        <div class="mb-3">
          <label for="password" class="form-label">
            <i class="bi bi-lock-fill text-danger"></i> Contraseña:
          </label>
          <input class="form-control"
            type="password"
            name="password" 
            id="password" 
            placeholder="Introduce tu contraseña" 
            minlength="8" 
            aria-label="Campo para introducir tu contraseña"
            autocomplete="current-password"
            required>
          
          <div class="invalid-feedback">Por favor, introduce una contraseña válida.</div>
        </div>

        <!-- Botón Enviar -->
        <div class="d-grid gap-2">
          <button type="submit" id="enviar" class="btn btn-dark">
            <i class="bi bi-box-arrow-in-right"></i> Enviar
          </button>
        </div>

        <!-- Links adicionales -->
        <div class="text-center mt-3">
          <p class="small">
            <a href="/auth/register" class="text-success"><i class="bi bi-person-plus-fill"></i> Crear cuenta</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/loginValidate.js"></script>