<!DOCTYPE html>
<html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Sin JavaScript</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        </head>
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/imgs/logoNav.JPG" width="75" alt="Logo" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="container h-100 my-5 ">
    <h1>Tu navegador no tiene habilitado javascript, Para seguir usando nuestra pagina web por favor habilite javascript</h1>
</main>
<footer class="container">
    <div class="container py-3 my-4 border-top mx-3">
        <div class="row align-items-center">

            <div class="col-md-8">
                <p class="mb-1 text-body-secondary">
                    <a href="https://www.somosdelprieto.com" target="_blank" class="text-body-secondary">
                    IES Gregorio Prieto</a> (Valdepeñas) e 
                    <a href="https://iesojosdelguadiana.es/" target="_blank" class="text-body-secondary">
                    IES Ojos del Guadiana</a> (Daimiel).
                </p>
                <p class="mb-0 text-body-secondary">
                    Alumnado de 2º DAW - Curso 2024/2025
                </p>
            </div>
    

            <div class="col-md-4 text-end">
                <ul class="nav justify-content-end list-unstyled d-none d-md-flex">
                    <li class="ms-3">
                        <a class="text-body-secondary" href="https://twitter.com/ojosguadianaies" target="_blank">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-body-secondary" href="https://www.instagram.com/ojosguadianaies/?hl=es" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-body-secondary" href="https://www.facebook.com/Ies-Ojos-Del-Guadiana-Daimiel-1494077700614259" target="_blank">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    


    <div class="text-center mt-3">
        <img src="/imgs/logo-prieto.png" alt="Logo IES Gregorio Prieto" class="img-fluid mb-2 me-2" style="max-width: 40px;">
        <a href="https://www.educa.jccm.es/es/fpclm/innovacion-formacion-profesional/desarrollo-proyectos-innovacion-formacion-profesional" target="_blank">
        <img src="/imgs/financiado.png" alt="Financiación" class="img-fluid mb-3" style="max-width: 400px;"></a>
        <img src="/imgs/logo-guadiana.png" alt="Logo IES Gregorio Prieto" class="img-fluid mb-2 ms-2" style="max-width: 40px;">
    </div>
</footer>

    <script>
        window.location.href = "/";
    </script>
</html>
